# 一般的な除外ルール
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# ファイルシステム関連
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# iCloud関連
*.icloud

# Xcode関連
*.xcodeproj
xcuserdata/
build/
DerivedData/

# その他
*.symlink
*.localized
*.vmx
*.vmdk

## Dockerとgitの除外ルール ##
.git
*Dockerfile*
*docker-compose*
