### Build system ###
.gradle/
**/build/
!gradle-wrapper.jar
!gradle-wrapper.properties
.kotlinc/
.kotlin/

### IDEs ###
# IntelliJ / Android Studio
.idea/
*.iml
*/out/

### Application secrets ###
.env
*.key
*.pem
application-local.properties
env.properties
secrets.yml

### Logs & misc ###
*.log
hs_err_pid*
replay_pid*

### Docker ###
**/docker/**
**/*.container